@import "tailwindcss";

@theme {
  --color-primary: #ee8c2b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221910;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
